{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'row'
]
%}
<article{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if view_mode == 'teaser' %}
    <a href="{{ url }}" rel="bookmark">
      {% block content %}
        {{ content }}
      {% endblock %}
      {{ label }}
    </a>
  {% endif %}

  {% if view_mode == 'full' %}
    <div class="col-lg-4 project--description">
      <h1 id="page--title"><span class="active">{{ label }}</span></h1>
      {{ content.title }}
      {{ content.field_year_month }}
      {{ content.field_info }}
      {{ content.body }}
    </div>
    <div class="col-lg-6 offset-md-1" data-bs-spy="scroll" data-bs-target="#nav-work-types" data-bs-offset="0" tabindex="0">
      {{ content.field_works }}
    </div>
    <div class="col-lg-1">
      <nav id="nav-work-types" class="position-fixed text-end">
        {{ work_types }}
      </nav>
    </div>
  {% endif %}
</article>
{% if view_mode == 'full' %}
<div class="project--navbar row" style="margin-top: 190px; margin-bottom: 120px;">
  <div class="col">
    {% if prev %}
    <a href="{{ path('entity.node.canonical', {'node': prev.id }) }}" title="{{ prev.label }}">&lt; 전작업</a>
    {% endif %}
  </div>
  <div class="col text-end">
    {% if next %}
    <a href="{{ path('entity.node.canonical', {'node': next.id}) }}" title="{{ next.label }}">후작업 &gt;</a>
    {% endif %}
  </div>
</div>
{% endif %}
