{#
/**
 * @file
 * Template for a Node component.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'row'
]
%}
<article{{attributes.addClass(classes)}}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if view_mode == 'teaser' %}
    <a href="{{ url }}" rel="bookmark">
      {% block content %}
        {{ content }}
      {% endblock %}
      {{ label }}
    </a>
  {% endif %}

  {% if view_mode == 'full' %}
    <div class="col-lg-4 project--description">
      {{ content.field_year_month }}
      {{ content.field_info }}
      {{ content.body }}
    </div>
    <div class="col-lg-6 offset-md-1" data-bs-spy="scroll" data-bs-target="#nav-work-types" data-bs-offset="0" tabindex="0">
      {{ content.field_works }}
    </div>
    <div class="col-lg-1 text-end">
      <nav id="nav-work-types">
        <ul>
          <li><a href="#work-type-1">책</a></li>
          <li><a href="#work-type-2">소책자</a></li>
          <li><a href="#work-type-3">브로슈어</a></li>
          <li><a href="#work-type-4">인쇄물</a></li>
          <li><a href="#work-type-5">포스터</a></li>
          <li><a href="#work-type-6">광고</a></li>
          <li><a href="#work-type-7">웹사이트</a></li>
          <li><a href="#work-type-8">아이텐티티</a></li>
        </ul>
      </nav>
    </div>
  {% endif %}
</article>
